.navbar {
  min-height: 100px;
  .right-menu {
    .login-button, .logout-button {
      cursor: pointer;
    }
    .login-panel {
      position: relative;
    }
  }
  .left-menu {
    .add-post {
      cursor: pointer;
    }
  }
}
